.jobs-list{
    position: relative;
    max-height: 150vh;
    overflow: scroll;
}
.jobs-list::-webkit-scrollbar{
    width: 10px !important  ;
}
.single-job-card{
    margin-bottom: 2rem !important;
    box-shadow: 3px -1px 5px -3px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
}
.single-job-card .card-header{
    background-color: white;
}
.job-card{
    box-shadow: 3px -1px 5px -3px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
    background-color: rgb(161 179 130 / 13%);
    border: 1px solid white !important;
    border-radius: 0% !important;
}
.job-card:hover{
    cursor: pointer;
    border: 1px rgb(255, 102, 0) solid !important;
}
.job-list-col{
    background-color: #ffffff45;
    padding: 1rem;
    border-radius: 8px;
}
.card-link{
    color: black !important;
    font-weight: bold;
}
.card-link:hover{
    cursor: pointer;
}
.btn-outline-primary {
    color: white !important;
    background-color: #f5f5f524 !important;
    border-radius: 0px !important;
    border: none !important;
}
.btn-outline-primary:hover{
    border-color: white !important;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(109 139 171 / 44%) !important;
}
.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(42 72 105 / 50%) !important;
}
body{
    background-image: url(./jobs.jpg);
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
.home-title{
    color: white;
    font-weight: 900;
    font-size: 2.2rem;
    margin-top: 6rem;
    margin-bottom: 7rem;
    text-align: center !important;
    line-height: 2.7rem;
}
.error-alert{
    width: 22rem !important;
    box-shadow: 3px -1px 5px -3px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
    position: absolute !important;
    top: 7%;
    left: 20%;

}
.bg-dark{
   background-color: white !important;
   box-shadow: 3px 1px 10px #3b3b3b;
}
.navbar-dark .navbar-brand {
    color: #e75830;
    font-weight: bolder;
    font-size: 27px;
}
.navbar-dark .navbar-brand:hover {
    color: #e75830c9;
}
.nav-link.disabled {
    color: rgb(0 0 0 / 25%) !important;
}
.form-control{
    border: 1px solid #e7583047 !important;
    border-radius: 0% !important;
}
.form-control:focus{    
    box-shadow: 0 0 0 0.2rem rgb(231 88 48 / 48%);
}
.MuiButton-root{
    background-color: #e75830 !important;
    border-radius: 0px !important;
    color: white !important;
    font-weight: bold !important;
}